body{
    margin: 0;
}

h1{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.topContainer{
    background-color: #F2FFE9;
   
}

.middleContainer{
    height: 200px;
    width: 200px;
    background-color: red;
}

.bottomContainer{
    height: 200px;
    width: 200px;
    background-color: blue;
}